<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MonthlyCyclePlanController</servlet-name>
        <servlet-class>controller.MonthlyCyclePlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>controller.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyPlanController</servlet-name>
        <servlet-class>controller.MonthlyPlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMonthlyPlanController</servlet-name>
        <servlet-class>controller.UpdateMonthlyPlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailsController</servlet-name>
        <servlet-class>controller.CustomerDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerController</servlet-name>
        <servlet-class>controller.SearchCustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonthlyCyclePlanController</servlet-name>
        <url-pattern>/MonthlyCyclePlanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/UserLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyPlanController</servlet-name>
        <url-pattern>/MonthlyPlanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMonthlyPlanController</servlet-name>
        <url-pattern>/UpdateMonthlyPlanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailsController</servlet-name>
        <url-pattern>/CustomerDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerController</servlet-name>
        <url-pattern>/SearchCustomerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
